<!-- detalhes.html -->
{% extends 'poderoso_apps/base.html' %}

{% block page_header %}
    <h1>{{ plano.nome }}</h1>
    <p>{{ plano.descricao }}</p>
    <h2>Exercícios:</h2>
{% endblock page_header %}

{% block content %}
<div>
  <p>PROGRESSO: {{ progresso|floatformat:0 }}%</p>
  <div style="background-color: #ff0000; width: 100%; height: 20px;">
    <div style="background-color: #000000; width: {{ progresso }}%; height: 100%;"></div>
  </div>
  <p>Tempo Restante: {{ tempo_restante|floatformat:2 }} minutos</p>
</div>

</br>
<ul>
    {% for exercicio in exercicios %}
      <li>
        <p>{{ exercicio.nome }}</p>
        <p>Séries: {{ exercicio.series }} | Repetições: {{ exercicio.repeticoes }}</p>
        <p>Intervalo: {{ exercicio.intervalo }}</p>
        
        <form method="POST" action="{% url 'poderoso_apps:detalhes_plano' %}?plano_id={{ plano.id }}">
          {% csrf_token %}
          <input type="hidden" name="exercicio_id" value="{{ exercicio.id }}">
          <input type="checkbox" 
                 name="concluido"
                 id="concluido-{{ exercicio.id }}" 
                 value="True"
                 onchange="this.form.submit();"
                 {% if exercicio.concluido %}checked{% endif %}>
          <label for="concluido-{{ exercicio.id }}">Concluído</label>
        </form>
      </li>
    {% endfor %}
</ul>
{% endblock content %}