{% extends 'poderoso_apps/base.html' %}  <!-- Indica que este template estende o template base chamado base.html, permitindo que o conteúdo definido aqui seja inserido nos blocos correspondentes do template base. -->

{% block page_header %}  <!-- Início do bloco que substitui o cabeçalho da página no template base. -->
<h1>Seus Planos de Treino</h1>  <!-- Título principal da página, exibindo "Seus Planos de Treino" como cabeçalho de nível 1. -->
{% endblock page_header %}  <!-- Fim do bloco de cabeçalho da página. -->

{% block content %}  <!-- Início do bloco de conteúdo principal da página. -->
    <form method="GET" action="{% url 'poderoso_apps:detalhes_plano' %}">  <!-- Cria um formulário que usa o método GET para enviar dados. O atributo action define a URL de destino para onde os dados do formulário serão enviados. A URL é gerada dinamicamente usando a tag {% url %}. -->
        <label for="planos">Planos:</label>  <!-- Rótulo para o campo de seleção, associando o texto "Planos:" ao campo de seleção por meio do atributo for. -->
        <select name="plano_id" id="planos" onchange="this.form.submit()">  <!-- Cria um campo de seleção (dropdown) para os planos de treino. O atributo onchange é acionado quando o usuário seleciona um plano, fazendo com que o formulário seja enviado automaticamente. -->
            <option value=""> --- Selecione --- </option>  <!-- Opção padrão exibida quando nenhum plano é selecionado. -->
            {% for plano in planos %}  <!-- Laço que itera sobre uma lista de planos disponíveis. -->
                <option value="{{ plano.id }}" {% if plano.id == plano_id %}selected{% endif %}> {{ plano.nome }} </option>  <!-- Para cada plano na lista, cria uma opção no dropdown. O valor da opção é o ID do plano e o texto exibido é o nome do plano. Se o ID do plano atual for igual ao ID do plano selecionado (armazenado na variável plano_id), a opção é marcada como selecionada. -->
            {% endfor %}  <!-- Fim do laço. -->
        </select>  <!-- Fim do campo de seleção. -->
    </form>  <!-- Fim do formulário. -->
{% endblock content %}  <!-- Fim do bloco de conteúdo principal da página. -->
